{% extends "skeleton/base.html" %}
{% block titulo %}Amigos{% endblock %}
{% block content %}
<h2 class="text-white font-bold text-3xl my-4">Mis seguidores</h2>
<section class="w-full px-4 flex flex-wrap">
    {% if followers %}
        {% for follower in followers %}
            <p class="bg-orange-100 w-1/4 text-center rounded-md py-1">{{ follower[1] }}</p>
        {% endfor %}
    {% else %}
        <p class="text-white font-bold text-2xl w-full text-center h-72 mt-20">¡No tienes amigos!</p>
    {% endif %}
</section>
{% endblock %}
