{% extends "skeleton/base.html" %}
{% from "macros/publish/fetchPublish.html" import fetchPublish %}


{% block titulo %}Inicio{% endblock %}
{% block content %}
<section class="w-10/12 bg-[#99550e] mt-2 flex flex-col items-center p-3">
    <input type="text" name="" placeholder="Compartir anécdota" class="w-11/12 bg-[#ffce81] rounded-md  p-1 text-sm text-black placeholder-black" id="contenido">
     <button class="mt-4 bg-orange-500 text-white w-32 rounded-sm" id="createPost">Compartir</button>
</section>

<h2 class="text-white font-bold text-2xl mt-6">Publicaciones</h2>

<section class="w-full flex justify-center flex-col items-center py-4" id="publicaciones">

</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/posts/app.js') }}"></script>
{{fetchPublish()}}
{% endblock %}

